In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns',None)##by writting max_columns you can see all columns

In [3]:
df = pd.read_csv("../data/raw/transactions.csv")##.. used to comeout of the folder(relative path)
df.head()

,transaction id,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend
0,TXN0000000001,08-10-2024 15:17,P2P,Entertainment,868,SUCCESS,26-35,18-25,Delhi,Axis,SBI,Android,4G,0,15,Tuesday,0
1,TXN0000000002,11-04-2024 06:56,P2M,Grocery,1011,SUCCESS,26-35,26-35,Uttar Pradesh,ICICI,Axis,iOS,4G,0,6,Thursday,0
2,TXN0000000003,02-04-2024 13:27,P2P,Grocery,477,SUCCESS,26-35,36-45,Karnataka,Yes Bank,PNB,Android,4G,0,13,Tuesday,0
3,TXN0000000004,07-01-2024 10:09,P2P,Fuel,2784,SUCCESS,26-35,26-35,Delhi,ICICI,PNB,Android,5G,0,10,Sunday,1
4,TXN0000000005,23-01-2024 19:04,P2P,Shopping,990,SUCCESS,26-35,18-25,Delhi,Axis,Yes Bank,iOS,WiFi,0,19,Tuesday,0

In [4]:
df.drop(columns="transaction id",inplace= True)

In [5]:
df.head(2)

,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend
0,08-10-2024 15:17,P2P,Entertainment,868,SUCCESS,26-35,18-25,Delhi,Axis,SBI,Android,4G,0,15,Tuesday,0
1,11-04-2024 06:56,P2M,Grocery,1011,SUCCESS,26-35,26-35,Uttar Pradesh,ICICI,Axis,iOS,4G,0,6,Thursday,0

In [6]:
df['timestamp'] = pd.to_datetime(df['timestamp'], dayfirst=True)

In [7]:
df.head(2)

,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend
0,2024-10-08 15:17:00,P2P,Entertainment,868,SUCCESS,26-35,18-25,Delhi,Axis,SBI,Android,4G,0,15,Tuesday,0
1,2024-04-11 06:56:00,P2M,Grocery,1011,SUCCESS,26-35,26-35,Uttar Pradesh,ICICI,Axis,iOS,4G,0,6,Thursday,0

In [8]:
df['is_night'] = df['hour_of_day'].between(0, 5).astype(int)

In [9]:
df.head()

,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend,is_night
0,2024-10-08 15:17:00,P2P,Entertainment,868,SUCCESS,26-35,18-25,Delhi,Axis,SBI,Android,4G,0,15,Tuesday,0,0
1,2024-04-11 06:56:00,P2M,Grocery,1011,SUCCESS,26-35,26-35,Uttar Pradesh,ICICI,Axis,iOS,4G,0,6,Thursday,0,0
2,2024-04-02 13:27:00,P2P,Grocery,477,SUCCESS,26-35,36-45,Karnataka,Yes Bank,PNB,Android,4G,0,13,Tuesday,0,0
3,2024-01-07 10:09:00,P2P,Fuel,2784,SUCCESS,26-35,26-35,Delhi,ICICI,PNB,Android,5G,0,10,Sunday,1,0
4,2024-01-23 19:04:00,P2P,Shopping,990,SUCCESS,26-35,18-25,Delhi,Axis,Yes Bank,iOS,WiFi,0,19,Tuesday,0,0

In [10]:
df[df["is_night"] == 1]

,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend,is_night
13,2024-04-10 00:51:00,Bill Payment,Grocery,430,SUCCESS,56+,36-45,Gujarat,Yes Bank,Yes Bank,Android,4G,0,0,Wednesday,0,1
22,2024-10-18 04:35:00,P2P,Shopping,397,SUCCESS,18-25,26-35,Delhi,Axis,SBI,Android,5G,0,4,Friday,0,1
39,2024-02-27 01:43:00,P2M,Healthcare,192,SUCCESS,26-35,26-35,Karnataka,SBI,SBI,Android,5G,0,1,Tuesday,0,1
56,2024-10-07 05:43:00,P2M,Healthcare,1315,SUCCESS,26-35,18-25,West Bengal,HDFC,PNB,Android,4G,0,5,Monday,0,1
66,2024-07-14 05:33:00,P2M,Other,394,SUCCESS,56+,46-55,Uttar Pradesh,SBI,ICICI,Android,4G,0,5,Sunday,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249952,2024-11-05 01:14:00,P2P,Other,285,SUCCESS,26-35,26-35,Maharashtra,Axis,Axis,iOS,WiFi,0,1,Tuesday,0,1
249963,2024-09-01 05:39:00,Bill Payment,Food,482,SUCCESS,46-55,26-35,Karnataka,Axis,PNB,Android,4G,0,5,Sunday,1,1
249981,2024-01-18 00:49:00,Bill Payment,Fuel,502,SUCCESS,18-25,36-45,Telangana,SBI,PNB,Android,4G,0,0,Thursday,0,1
249987,2024-07-28 02:33:00,P2P,Shopping,1568,SUCCESS,56+,56+,Uttar Pradesh,Axis,ICICI,iOS,WiFi,0,2,Sunday,1,1
249996,2024-12-15 02:58:00,P2P,Utilities,2025,SUCCESS,36-45,26-35,Rajasthan,HDFC,Yes Bank,Android,5G,0,2,Sunday,1,1

In [11]:
df['is_office_hours'] = df['hour_of_day'].between(9, 18).astype(int)

In [12]:
df.head()

,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend,is_night,is_office_hours
0,2024-10-08 15:17:00,P2P,Entertainment,868,SUCCESS,26-35,18-25,Delhi,Axis,SBI,Android,4G,0,15,Tuesday,0,0,1
1,2024-04-11 06:56:00,P2M,Grocery,1011,SUCCESS,26-35,26-35,Uttar Pradesh,ICICI,Axis,iOS,4G,0,6,Thursday,0,0,0
2,2024-04-02 13:27:00,P2P,Grocery,477,SUCCESS,26-35,36-45,Karnataka,Yes Bank,PNB,Android,4G,0,13,Tuesday,0,0,1
3,2024-01-07 10:09:00,P2P,Fuel,2784,SUCCESS,26-35,26-35,Delhi,ICICI,PNB,Android,5G,0,10,Sunday,1,0,1
4,2024-01-23 19:04:00,P2P,Shopping,990,SUCCESS,26-35,18-25,Delhi,Axis,Yes Bank,iOS,WiFi,0,19,Tuesday,0,0,0

In [13]:
df['log_amount'] = np.log1p(df['amount (INR)'])

In [14]:
high_amt_threshold = df['amount (INR)'].quantile(0.99)

df['is_high_amount'] = (df['amount (INR)'] >= high_amt_threshold).astype(int)

In [15]:
df.head()

,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend,is_night,is_office_hours,log_amount,is_high_amount
0,2024-10-08 15:17:00,P2P,Entertainment,868,SUCCESS,26-35,18-25,Delhi,Axis,SBI,Android,4G,0,15,Tuesday,0,0,1,6.767343,0
1,2024-04-11 06:56:00,P2M,Grocery,1011,SUCCESS,26-35,26-35,Uttar Pradesh,ICICI,Axis,iOS,4G,0,6,Thursday,0,0,0,6.919684,0
2,2024-04-02 13:27:00,P2P,Grocery,477,SUCCESS,26-35,36-45,Karnataka,Yes Bank,PNB,Android,4G,0,13,Tuesday,0,0,1,6.169611,0
3,2024-01-07 10:09:00,P2P,Fuel,2784,SUCCESS,26-35,26-35,Delhi,ICICI,PNB,Android,5G,0,10,Sunday,1,0,1,7.932003,0
4,2024-01-23 19:04:00,P2P,Shopping,990,SUCCESS,26-35,18-25,Delhi,Axis,Yes Bank,iOS,WiFi,0,19,Tuesday,0,0,0,6.898715,0

In [16]:
df[df["is_high_amount"] == 1]

,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend,is_night,is_office_hours,log_amount,is_high_amount
159,2024-02-16 18:51:00,Bill Payment,Shopping,9619,SUCCESS,18-25,18-25,Maharashtra,SBI,IndusInd,Android,4G,0,18,Friday,0,0,1,9.171600,1
165,2024-10-29 04:05:00,P2P,Shopping,9228,SUCCESS,18-25,18-25,West Bengal,SBI,Yes Bank,Android,WiFi,0,4,Tuesday,0,1,0,9.130106,1
299,2024-04-13 23:31:00,P2P,Utilities,12568,SUCCESS,36-45,26-35,Tamil Nadu,Kotak,Axis,Android,4G,0,23,Saturday,1,0,0,9.438989,1
300,2024-01-17 20:01:00,Bill Payment,Education,10309,SUCCESS,36-45,26-35,Andhra Pradesh,HDFC,ICICI,Android,4G,0,20,Wednesday,0,0,0,9.240870,1
442,2024-03-28 08:35:00,P2M,Utilities,15583,SUCCESS,26-35,18-25,Telangana,HDFC,ICICI,Android,5G,0,8,Thursday,0,0,0,9.654000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249647,2024-12-10 13:59:00,P2P,Education,24238,SUCCESS,26-35,36-45,Telangana,IndusInd,Yes Bank,Android,5G,0,13,Tuesday,0,0,1,10.095718,1
249696,2024-09-25 15:07:00,P2P,Shopping,10753,SUCCESS,18-25,26-35,Delhi,IndusInd,Yes Bank,Android,5G,0,15,Wednesday,0,0,1,9.283033,1
249777,2024-06-14 11:00:00,P2M,Education,14456,SUCCESS,36-45,36-45,Telangana,HDFC,SBI,Android,3G,0,11,Friday,0,0,1,9.578934,1
249816,2024-06-10 15:51:00,P2P,Shopping,11576,SUCCESS,26-35,26-35,Telangana,ICICI,HDFC,Android,4G,0,15,Monday,0,0,1,9.356776,1
249825,2024-04-12 07:11:00,P2P,Education,9505,SUCCESS,26-35,36-45,Andhra Pradesh,PNB,SBI,iOS,4G,0,7,Friday,0,0,0,9.159678,1

In [17]:
df['same_bank'] = (df['sender_bank'] == df['receiver_bank']).astype(int)

In [18]:
df['bank_pair'] = df['sender_bank'] + "_" + df['receiver_bank']

In [19]:
df.head()

,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend,is_night,is_office_hours,log_amount,is_high_amount,same_bank,bank_pair
0,2024-10-08 15:17:00,P2P,Entertainment,868,SUCCESS,26-35,18-25,Delhi,Axis,SBI,Android,4G,0,15,Tuesday,0,0,1,6.767343,0,0,Axis_SBI
1,2024-04-11 06:56:00,P2M,Grocery,1011,SUCCESS,26-35,26-35,Uttar Pradesh,ICICI,Axis,iOS,4G,0,6,Thursday,0,0,0,6.919684,0,0,ICICI_Axis
2,2024-04-02 13:27:00,P2P,Grocery,477,SUCCESS,26-35,36-45,Karnataka,Yes Bank,PNB,Android,4G,0,13,Tuesday,0,0,1,6.169611,0,0,Yes Bank_PNB
3,2024-01-07 10:09:00,P2P,Fuel,2784,SUCCESS,26-35,26-35,Delhi,ICICI,PNB,Android,5G,0,10,Sunday,1,0,1,7.932003,0,0,ICICI_PNB
4,2024-01-23 19:04:00,P2P,Shopping,990,SUCCESS,26-35,18-25,Delhi,Axis,Yes Bank,iOS,WiFi,0,19,Tuesday,0,0,0,6.898715,0,0,Axis_Yes Bank

In [20]:
df['device_risk'] = df['device_type'].map({
    'Web': 'High',
    'Android': 'Medium',
    'iOS': 'Low'
})

In [21]:
df['network_risk'] = df['network_type'].map({
    'WiFi': 'High',
    '3G': 'Medium',
    '4G': 'Low',
    '5G': 'Low'
})

In [22]:
df['device_network_risk'] = (
    df['device_risk'] + "_" + df['network_risk']
)

In [23]:
df.head()

,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend,is_night,is_office_hours,log_amount,is_high_amount,same_bank,bank_pair,device_risk,network_risk,device_network_risk
0,2024-10-08 15:17:00,P2P,Entertainment,868,SUCCESS,26-35,18-25,Delhi,Axis,SBI,Android,4G,0,15,Tuesday,0,0,1,6.767343,0,0,Axis_SBI,Medium,Low,Medium_Low
1,2024-04-11 06:56:00,P2M,Grocery,1011,SUCCESS,26-35,26-35,Uttar Pradesh,ICICI,Axis,iOS,4G,0,6,Thursday,0,0,0,6.919684,0,0,ICICI_Axis,Low,Low,Low_Low
2,2024-04-02 13:27:00,P2P,Grocery,477,SUCCESS,26-35,36-45,Karnataka,Yes Bank,PNB,Android,4G,0,13,Tuesday,0,0,1,6.169611,0,0,Yes Bank_PNB,Medium,Low,Medium_Low
3,2024-01-07 10:09:00,P2P,Fuel,2784,SUCCESS,26-35,26-35,Delhi,ICICI,PNB,Android,5G,0,10,Sunday,1,0,1,7.932003,0,0,ICICI_PNB,Medium,Low,Medium_Low
4,2024-01-23 19:04:00,P2P,Shopping,990,SUCCESS,26-35,18-25,Delhi,Axis,Yes Bank,iOS,WiFi,0,19,Tuesday,0,0,0,6.898715,0,0,Axis_Yes Bank,Low,High,Low_High

In [24]:
age_map = {
    '18-25': 1,
    '26-35': 2,
    '36-45': 3,
    '46-55': 4,
    '56+': 5
}

df['sender_age_ord'] = df['sender_age_group'].map(age_map)
df['receiver_age_ord'] = df['receiver_age_group'].map(age_map)

In [25]:
df['age_gap'] = abs(
    df['sender_age_ord'] - df['receiver_age_ord']
)

In [26]:
state_freq = df['sender_state'].value_counts(normalize=True)

df['sender_state_freq'] = df['sender_state'].map(state_freq)

In [27]:
df.head()

,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend,is_night,is_office_hours,log_amount,is_high_amount,same_bank,bank_pair,device_risk,network_risk,device_network_risk,sender_age_ord,receiver_age_ord,age_gap,sender_state_freq
0,2024-10-08 15:17:00,P2P,Entertainment,868,SUCCESS,26-35,18-25,Delhi,Axis,SBI,Android,4G,0,15,Tuesday,0,0,1,6.767343,0,0,Axis_SBI,Medium,Low,Medium_Low,2,1,1,0.099480
1,2024-04-11 06:56:00,P2M,Grocery,1011,SUCCESS,26-35,26-35,Uttar Pradesh,ICICI,Axis,iOS,4G,0,6,Thursday,0,0,0,6.919684,0,0,ICICI_Axis,Low,Low,Low_Low,2,2,0,0.120500
2,2024-04-02 13:27:00,P2P,Grocery,477,SUCCESS,26-35,36-45,Karnataka,Yes Bank,PNB,Android,4G,0,13,Tuesday,0,0,1,6.169611,0,0,Yes Bank_PNB,Medium,Low,Medium_Low,2,3,1,0.119024
3,2024-01-07 10:09:00,P2P,Fuel,2784,SUCCESS,26-35,26-35,Delhi,ICICI,PNB,Android,5G,0,10,Sunday,1,0,1,7.932003,0,0,ICICI_PNB,Medium,Low,Medium_Low,2,2,0,0.099480
4,2024-01-23 19:04:00,P2P,Shopping,990,SUCCESS,26-35,18-25,Delhi,Axis,Yes Bank,iOS,WiFi,0,19,Tuesday,0,0,0,6.898715,0,0,Axis_Yes Bank,Low,High,Low_High,2,1,1,0.099480

In [34]:
df[['is_night', 'is_high_amount', 'same_bank']].value_counts()

is_night  is_high_amount  same_bank
0         0               0            201665
                          1             34324
1         0               0              9853
0         1               0              2067
1         0               1              1658
0         1               1               324
1         1               0                94
                          1                15
Name: count, dtype: int64

In [29]:
df.select_dtypes(include='number').corr()

,amount (INR),fraud_flag,hour_of_day,is_weekend,is_night,is_office_hours,log_amount,is_high_amount,same_bank,sender_age_ord,receiver_age_ord,age_gap,sender_state_freq
amount (INR),1.000000,0.004449,-0.001604,-0.000653,-0.001420,0.001882,0.780159,0.597841,-0.001492,0.021055,0.000172,-0.008606,0.000050
fraud_flag,0.004449,1.000000,0.001323,0.001221,0.000299,-0.002513,0.000796,0.003857,-0.001747,-0.004330,-0.000473,-0.001882,-0.000058
hour_of_day,-0.001604,0.001323,1.000000,0.001496,-0.539581,-0.209220,-0.003033,0.001971,-0.000308,-0.001703,0.000574,0.002454,-0.005224
is_weekend,-0.000653,0.001221,0.001496,1.000000,-0.000284,-0.002830,0.000903,0.000679,-0.001637,-0.002741,0.001381,0.001049,-0.002746
is_night,-0.001420,0.000299,-0.539581,-0.000284,1.000000,-0.269792,-0.000646,-0.001375,-0.000820,0.000875,-0.000468,0.000466,0.001810
is_office_hours,0.001882,-0.002513,-0.209220,-0.002830,-0.269792,1.000000,0.003296,-0.000925,-0.000210,0.003312,-0.002526,-0.001462,0.004576
log_amount,0.780159,0.000796,-0.003033,0.000903,-0.000646,0.003296,1.000000,0.244731,0.000267,0.000094,-0.002464,-0.015682,0.000236
is_high_amount,0.597841,0.003857,0.001971,0.000679,-0.001375,-0.000925,0.244731,1.000000,-0.002762,0.007903,0.001873,-0.004474,-0.000868
same_bank,-0.001492,-0.001747,-0.000308,-0.001637,-0.000820,-0.000210,0.000267,-0.002762,1.000000,-0.001433,-0.000208,0.000233,0.000289
sender_age_ord,0.021055,-0.004330,-0.001703,-0.002741,0.000875,0.003312,0.000094,0.007903,-0.001433,1.000000,0.000545,0.225867,-0.004041
receiver_age_ord,0.000172,-0.000473,0.000574,0.001381,-0.000468,-0.002526,-0.002464,0.001873,-0.000208,0.000545,1.000000,0.227438,0.002093
age_gap,-0.008606,-0.001882,0.002454,0.001049,0.000466,-0.001462,-0.015682,-0.004474,0.000233,0.225867,0.227438,1.000000,-0.001609
sender_state_freq,0.000050,-0.000058,-0.005224,-0.002746,0.001810,0.004576,0.000236,-0.000868,0.000289,-0.004041,0.002093,-0.001609,1.000000

In [35]:
X = df.drop(columns=['fraud_flag'])
y = df['fraud_flag']

In [36]:
X

,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,hour_of_day,day_of_week,is_weekend,is_night,is_office_hours,log_amount,is_high_amount,same_bank,bank_pair,device_risk,network_risk,device_network_risk,sender_age_ord,receiver_age_ord,age_gap,sender_state_freq
0,2024-10-08 15:17:00,P2P,Entertainment,868,SUCCESS,26-35,18-25,Delhi,Axis,SBI,Android,4G,15,Tuesday,0,0,1,6.767343,0,0,Axis_SBI,Medium,Low,Medium_Low,2,1,1,0.099480
1,2024-04-11 06:56:00,P2M,Grocery,1011,SUCCESS,26-35,26-35,Uttar Pradesh,ICICI,Axis,iOS,4G,6,Thursday,0,0,0,6.919684,0,0,ICICI_Axis,Low,Low,Low_Low,2,2,0,0.120500
2,2024-04-02 13:27:00,P2P,Grocery,477,SUCCESS,26-35,36-45,Karnataka,Yes Bank,PNB,Android,4G,13,Tuesday,0,0,1,6.169611,0,0,Yes Bank_PNB,Medium,Low,Medium_Low,2,3,1,0.119024
3,2024-01-07 10:09:00,P2P,Fuel,2784,SUCCESS,26-35,26-35,Delhi,ICICI,PNB,Android,5G,10,Sunday,1,0,1,7.932003,0,0,ICICI_PNB,Medium,Low,Medium_Low,2,2,0,0.099480
4,2024-01-23 19:04:00,P2P,Shopping,990,SUCCESS,26-35,18-25,Delhi,Axis,Yes Bank,iOS,WiFi,19,Tuesday,0,0,0,6.898715,0,0,Axis_Yes Bank,Low,High,Low_High,2,1,1,0.099480
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,2024-11-08 22:41:00,Recharge,Food,373,SUCCESS,36-45,26-35,Telangana,ICICI,HDFC,iOS,5G,22,Friday,0,0,0,5.924256,0,0,ICICI_HDFC,Low,Low,Low_Low,3,2,1,0.089740
249996,2024-12-15 02:58:00,P2P,Utilities,2025,SUCCESS,36-45,26-35,Rajasthan,HDFC,Yes Bank,Android,5G,2,Sunday,1,1,0,7.613819,0,0,HDFC_Yes Bank,Medium,Low,Medium_Low,3,2,1,0.079924
249997,2024-11-27 16:33:00,P2P,Food,468,SUCCESS,26-35,18-25,West Bengal,ICICI,ICICI,Android,4G,16,Wednesday,0,0,1,6.150603,0,1,ICICI_ICICI,Medium,Low,Medium_Low,2,1,1,0.079888
249998,2024-01-05 13:31:00,Recharge,Healthcare,284,SUCCESS,18-25,36-45,Andhra Pradesh,Axis,ICICI,iOS,4G,13,Friday,0,0,1,5.652489,0,0,Axis_ICICI,Low,Low,Low_Low,1,3,2,0.080024
249999,2024-01-17 15:23:00,P2P,Entertainment,531,SUCCESS,18-25,26-35,Telangana,Axis,Yes Bank,Android,4G,15,Wednesday,0,0,1,6.276643,0,0,Axis_Yes Bank,Medium,Low,Medium_Low,1,2,1,0.089740

In [ ]:
y

0         0
1         0
2         0
3         0
4         0
         ..
249995    0
249996    0
249997    0
249998    0
249999    0
Name: fraud_flag, Length: 250000, dtype: int64

In [38]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    test_size=0.2,
    stratify=y,
    random_state=42
)

In [41]:
y_train.value_counts(normalize=True)

fraud_flag
0    0.99808
1    0.00192
Name: proportion, dtype: float64

In [40]:
y_test.value_counts(normalize=True)

fraud_flag
0    0.99808
1    0.00192
Name: proportion, dtype: float64